<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="box-with-shadow add-padding">
      <h1 class="text-center">New User</h1>
      <hr>
      <%= render partial: 'form', locals: {submit_text: "Create My Account"} %>
    </div>
  </div>
</div>
