<div class="jumbotron">
  <h1 class="homepage-header text-right">Splash into Savings</h1>
</div>
<h2 class="text-center">Find the Best Products for Fun Water Times</h2>
<hr>
<%= render 'shared/display_products' %>
