<div class="jumbotron">
  <h1>Wetsy Homepage</h1>
</div>
<div class="container">
  <h2 class="text-center">Find the Best Products for Fun Water Times</h2>
  <hr>
  <%= render 'shared/display_products' %>
</div>
