<h1>Editing Product</h1>

<%= render 'form' %>

<<<<<<< HEAD
<%= link_to 'Show', user_product_path(@product.id, @product.user_id) %> |
=======
<%= link_to 'Show', user_product_path(@product.user, @product) %> |
>>>>>>> ac931d31abbf683c9b1ef745a826c9961165f70c
<%= link_to 'Back', user_products_path %>
