<h1>Editing Review</h1>

<%= render 'form' %>

<%= link_to 'Show', user_product_review_path(@product.user, @product, @review) %> |
<%= link_to 'Back', user_product_reviews_path(@product.user, @product) %>
