<!-- This is commented out for now. Nobody can edit a review, maybe will put back in for admin.  -->

<!-- <div class="container">
  <h1>Edit Review</h1>
  <%= render 'form' %>
  <br>
  <!-- <%= link_to 'Show', user_product_review_path(@product.user, @product, @review), class: "btn btn-primary" %> | -->
  <!-- <%= link_to 'Back to all Reviews', user_product_reviews_path(@product.user, @product), class: "btn btn-primary" %>
</div> -->
